---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

*, *:before, *:after {
  box-sizing: border-box;
}

@import
  "typographic",
  "style",
  "flex"
;

$line-height-ratio  : 1.75;
$header-ratio       : $golden;
$body-font          : $garamond;
$body-font-weight   : 300;
$body-color         : #666;
$header-font        : $futura;
$header-font-weight : 600;
$header-color       : #111;
$min-font           : 13px;
$max-font           : 20px;
$min-width          : 600px;
$max-width          : 1000px;
$vertical-rhythm    : true;

@include typographic();

main {
  max-width: 40em;
  margin: 0 auto;
}
