---
layout: default
---
<header>
  <h1>{{ page.title }}</h1>
</header>

<article>

  <section>
    {{ content }}
  </section>

  {% if page.moral %}
  <section>
    <blockquote>
      {{ page.moral }}
    </blockquote>
  </section>
  {% endif %}

</article>

<aside>
    {% for page_animal in page.animals %}
      {% for animal in site.data.animals %}
        {% if page_animal == animal.name %}
          <figure class="animal_picture">
            {{ animal.shape }}
            <figcaption>{{ animal.name }}</figcaption>
          </figure>
        {% endif %}
      {% endfor %}
    {% endfor %}
</aside>

<article id="related">
  <ul>
    {% for fable in site.fables %}
      {% unless page.url == fable.url %}
        {% for animal in page.animals %}
          {% if fable.animals contains animal %}
            <li>
              <a href="{{ fable.url | prepend: site.baseurl }}">{{ fable.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      {% endunless %}
    {% endfor %}
  </ul>
</article>
